<mat-toolbar color="primary">
    <div class="right" >
        <div>OneLap</div>
        <div>
            <button style="margin-left:20px" mat-button>Product</button>
            <button style="margin-left:20px"  mat-button>Android</button>
            <mat-icon>shopping_cart</mat-icon>
            <mat-icon>contacts</mat-icon>
            <button style="margin-left:20px" mat-icon-button mat-button>Login</button>
        </div>
    </div>
    
</mat-toolbar>
<div class="container">
    <div class="banner1">
        <img class="image" src="./assets/1.png" >
        <div class="textbox1">
            <h1>Live Gps1 Tracking in Car with Driving History</h1>
            <span></span>
            <p>with the help of live CAR location tracker you can see each and every moment of your vehicle on moblie phone. You can see which routes of your car has taken through out the with all the stopages</p>
        </div>
        <div >
            <button class="button" mat-raised-button color="primary">Add To Cart</button>
            <button class="button" mat-raised-button color="primary">Buy Now</button>
        </div>
    </div>
    
    <div class="banner2">
        <img class="image"  src="./assets/2.png" >
        <div class="textbox1">
            <h1>Live Gps2 Tracking in Car with Driving History</h1>
            <span></span>
            <p>with the help of live CAR location tracker you can see each and every moment of your vehicle on moblie phone. You can see which routes of your car has taken through out the with all the stopages</p>
        </div>
        <div >
            <button class="button" mat-raised-button color="primary">Add To Cart</button>
            <button class="button" mat-raised-button color="primary">Buy Now</button>
        </div>
    </div>
    <div class="banner3 ">
        <img class="image"  src="./assets/3.png" >
        <div class="textbox1">
            <h1>Live Gps3 Tracking in Truck with Driving History</h1>
            <span></span>
            <p>with the help of live CAR location tracker you can see each and every moment of your vehicle on moblie phone. You can see which routes of your car has taken through out the with all the stopages</p>
        </div>
        <div >
            <button class="button" mat-raised-button color="primary">Add To Cart</button>
            <button class="button" mat-raised-button color="primary">Buy Now</button>
        </div>
    </div>
    
</div>
